.padding15
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.matalist
{
	color: white;
	background: #e74c3c;
	cursor: pointer;
}
.matalist:hover
{
	-moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
	-webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
	box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
.aboutbtn
{
	border: 0;
	outline: 0;
	padding: 1em;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	font-family: 'Merriweather', sans-serif;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	resize: none;
	-moz-box-shadow: 0 0px 2px #e74c3c !important;
	-webkit-box-shadow: 0 0px 2px #e74c3c !important;
	box-shadow: 0 0px 2px #e74c3c !important;
	max-width: 600px;
	text-align: center;
	margin: 20px auto;
}
.para
{
	max-width: 600px;
	text-align: center;
	margin: 20px auto;
	line-height: 18pt;
}
.bio
{
	max-width: 600px;
	text-align: center;
	margin: 20px auto;
	line-height: 18pt;
}
.str
{
	font-weight: 550;
}
.img-fluid
{
	height: 400px;
	width: 400px;
	border-radius: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}